
# ==============================
#  🌍 TravelMundo API - .gitignore
# ==============================

# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
dist/
build/
coverage/
.tmp/
.cache/
out/
logs/
*.log

# System files
.DS_Store
Thumbs.db

# IDE and editor folders
.vscode/
.idea/
*.swp

# Cloud & Docker
.cloud/
docker-compose.override.yml
.Dockerfile.swp
*.tar
*.img

# Temporary files
*.bak
*.tmp
*.old

# Firebase key
serviceAccountKey.json
*.key.json
*.env

# GitHub Desktop / Windows line endings cache
*~
